@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

@layer base {
  :root {
    /* main body background color */
    --background: 0 100% 100%;
    /* main body text color */
    --foreground: 0 0% 24%;
    /* primary button background color */
    --primary: 353 81% 51%;
    /* primary button white text color */
    --primary-foreground: 0 100% 100%;
    /* primary button background hover */
    --primary-hover: 353 92% 41%;
    /* banner bg */
    --banner: 225 40% 98%;
    /* section 1 bg color */
    --section-primary: 0 100% 100%;
    /* section 2 bg color */
    --section-secondary: 225 40% 98%;
    /* heading color */
    --heading: 240 9% 13%;
    /* card background color section 1 */
    --accent: 0 0% 96%;
    /* card text color */
    /* --accent-foreground: 210 11% 7%; */
    /* card secondary background color */
    --destructive: 210 40% 96.1%;
    /* card secondary text color */
    --destructive-foreground: 210 11% 7%;
    /* border color */
    --border: 240 6% 90%;
    /* input background color */
    /* --input: 240 6% 90%; */
    /* default link color */
    --link: 353 81% 51%;
    /* default link hover color */
    /* --ring-foreground: 142 76% 36%; */
    /* footer bg */
    --footer: 235 100% 2%;
  }

  .dark {
    /* base background color */
    --background: 210 11% 7%;
    /* base text color */
    --foreground: 230 10% 83%;
    /* primary background color */
    --primary: 353 81% 51%;
    /* primary button text color */
    --primary-foreground: 0 100% 100%;
    /* primary button background hover */
    --primary-hover: 353 92% 41%;
    /* banner bg - sme as body bg */
    --banner: 210 11% 7%;
    /* section 1 bg color */
    --section-primary: 0 0 10%;
    /* section 2 bg color */
    --section-secondary: 0 0 6%;
    /* heading color */
    --heading: 0 0% 100%;

    /* --section 1 card background */
    --accent: 0 0% 10%;
    /* --accent-foreground: 0 100% 100%; */
    /* card secondary background color */
    --destructive: 218 17% 18%;
    /* card secondary text color */
    /* --destructive-foreground: 0 100% 100%; */
    --border: 240 4% 24%;
    /* input background color */
    /* --input: 240 4% 24%; */
    /* default link color */
    --link: 353 81% 51%;
    /* default link hover color */
    /* --ring-foreground: 142 76% 36%; */
    /* footer bg */
    --footer: 235 100% 2%;
  }
}

@layer base {
  html {
    font-family: var(--font-roboto);
  }

  body {
    @apply bg-background text-foreground text-base min-w-[32rem];
  }

  .max-container {
    max-width: 132rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .btn {
    @apply border capitalize px-6 py-4;
  }

  .primary-button {
    @apply relative hover:before:bg-primary h-[50px] min-w-[15rem] overflow-hidden border-primary px-3 text-link transition-all before:absolute before:bottom-0 before:left-0 bg-background/85 before:top-0 before:z-0 before:w-0 before:bg-primary before:transition-all before:duration-500 hover:text-white hover:before:w-full font-robotoCondensed uppercase font-medium;
  }

  .form-input {
    @apply px-[1.5rem] py-[1.2rem] h-[5rem] w-full rounded-[0.5rem] block focus:outline-none border border-border;
  }
}

.translateZ-0 {
  transform: translateZ(0);
}

.avatar-img {
  animation: morph 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
  box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 0.2);
}

.bg-parallax {
  background: linear-gradient(to bottom, #e5e5be 0%, #04596e 100%);
}

.clip-custom {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 50%);
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
